:root {
  --font-primary: #3f3f3f;;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  color: var(--font-primary);
}

body {
  margin: 40px 40px 40px 40px !important;
}

h1 {
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  word-break: break-all;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
}
